body {
  margin: 0;
  text-align: center;
  background: #eee;
}

h1 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-size: 64px;
  margin: 30px 0;
}

#board {
  background-image: url(img/cork.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto 60px;
}
.card {
  background: white;
  padding: 15px;
  position: relative;
}

.pin {
  width: 24px;
  height: 24px;
  background-image: url(img/pin.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.card img {
  width: 100%;
  display: block;
}

.text {
  font-family: "Sometype Mono", monospace;
  font-size: 14px;
  margin: 10px 0 0;
}